#inspNav {
    padding: 15px 0 10px 0;
    background: #fff;
    margin: 10px 0 0 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0%);
}
#inspNav ul {
    width: 100%;
    overflow: hidden;
    padding-left: 4%;
    margin: 0;
	padding:0px;
	list-style-type:none;
}
#inspNav ul > li {
    width: 33.3%;
    float: left;
	text-align:center;
}
#inspNav ul > li > a{
    width: 65px;
    height: 65px;
	cursor: pointer;
    border-radius: 50px;
    display: block;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 40px;
    margin: 0 auto;
    box-shadow: 0 3px 8px rgb(0 0 0 / 10%);
	margin-bottom:40px;
}
#inspNav ul > li > a:after {
	content: attr(title);
	position: relative;
    top: 66px;
}
#inspNav ul > li > i{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    display: block;
	background-color:#888;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 40px;
    margin: 0 auto;
    box-shadow: 0 3px 8px rgb(0 0 0 / 10%);
	margin-bottom:40px;
	color:#fff;
}
#inspNav ul > li > i:after {
	content: attr(title);
	position: relative;
	top: 37px;
    display: block;
    color: #666;
}
#inspNav ul > li > i:before {
	font-size: 32px;
    position: relative;
    display: inline-block;
    top: 25%;
}