/****************************************
* 请不要删除以下信息，以便随时能联系到开发技术人员
* 开发者：川哥编程
* 技术支持：
* wechat(微信) 13700879064
* qq(扣扣) 176323458 
****************************************/
.transparent {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
	background-size:20px 20px;
}
.txtgreen{color:green;}.bggreen{background:#3cb067!important;}.bdgreen{border:1px solid green;}.txtblue,a.txtblue{color:#4285F4!important;}.bgblue{background:#4285F4;}.txtwhite{color:#fff;}.bgwhite{background:#fff;}.txtred{color:#EA4335;}.bgred{background:#EA4335;}.txtyellow{color:#FB9605;}.bgyellow{background:#FB9605;}.txtlightgray{color:#888;}.txtgray{color:#666;}.bggray{background:#666;}.txtblack{color:#000;}.bgblack{background:#000;}
.help {
	cursor: pointer;
    font-family: icon!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
	/* color:#888; */
}
/* .help:hover{color:#34A853;} */
.help-before:before,
.help-after:after {
    content:"\e607";
	border:1px solid;
	border-radius:50%;
	font-size:16px;
	font-size:.875rem;
	margin-left:5px;
}
@keyframes rotate {
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}
/**
* rotate: 定义的动画名称
* 1s: 动画时间
* linear: 动画以何种运行轨迹完成一个周期
* infinite:规定动画应该无限次播放
*/
.processing {
	animation: rotate 1s linear infinite;
	width:16px;
	height:16px;
	line-height:16px;
	text-align:center;
	display:inline-block;
	margin:0px 5px 0px 0px;
	padding:0px;
}
.processing > i {
	width:16px;
	height:16px;
	font-size:14px;
}
.success {color:green;cursor:pointer;}
.success > i {margin-right:5px;}
.error{color:#ff0000;cursor:pointer;}
.error > i {margin-right:5px;}

/****************************************
* Please do not delete the following information 
* so that you can contact the developer anytime. 
* Developer: Yichuan programming
* Technical support:
* Wechat 13700879064
* QQ 176323458
*
****************************************/
.icon{
	cursor:pointer;
	font-family:icon!important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
/*iconBegin*/.i-reply-fill:before{content:"\e611"}.i-set-fill:before{content:"\e614"}.i-menu-fill:before{content:"\e60f"}.i-search:before{content:"\e615"}.i-share:before{content:"\e641"}.i-set-sm:before{content:"\e620"}.i-engine:before{content:"\e628"}.i-close:before{content:"\1006"}.i-close-fill:before{content:"\1007"}.i-chart-screen:before{content:"\e629"}.i-star:before{content:"\e600"}.i-circle-dot:before{content:"\e617"}.i-chat:before{content:"\e606"}.i-release:before{content:"\e609"}.i-list:before{content:"\e60a"}.i-chart:before{content:"\e62c"}.i-ok-circle:before{content:"\1005"}.i-layim-theme:before{content:"\e61b"}.i-table:before{content:"\e62d"}.i-right:before{content:"\e602"}.i-left:before{content:"\e603"}.i-cart-simple:before{content:"\e698"}.i-face-cry:before{content:"\e69c"}.i-face-smile:before{content:"\e6af"}.i-survey:before{content:"\e6b2"}.i-tree:before{content:"\e62e"}.i-upload-circle:before{content:"\e62f"}.i-add-circle:before{content:"\e61f"}.i-download-circle:before{content:"\e601"}.i-templeate-1:before{content:"\e630"}.i-util:before{content:"\e631"}.i-face-surprised:before{content:"\e664"}.i-edit:before{content:"\e642"}.i-speaker:before{content:"\e645"}.i-down:before{content:"\e61a"}.i-file:before{content:"\e621"}.i-layouts:before{content:"\e632"}.i-rate-half:before{content:"\e6c9"}.i-add-circle-fine:before{content:"\e608"}.i-prev-circle:before{content:"\e633"}.i-read:before{content:"\e705"}.i-404:before{content:"\e61c"}.i-carousel:before{content:"\e634"}.i-help:before{content:"\e607"}.i-code-circle:before{content:"\e635"}.i-water:before{content:"\e636"}.i-username:before{content:"\e66f"}.i-find-fill:before{content:"\e670"}.i-about:before{content:"\e60b"}.i-location:before{content:"\e715"}.i-up:before{content:"\e619"}.i-pause:before{content:"\e651"}.i-date:before{content:"\e637"}.i-layim-uploadfile:before{content:"\e61d"}.i-delete:before{content:"\e640"}.i-play:before{content:"\e652"}.i-top:before{content:"\e604"}.i-friends:before{content:"\e612"}.i-refresh-3:before{content:"\e9aa"}.i-ok:before{content:"\e605"}.i-layer:before{content:"\e638"}.i-face-smile-fine:before{content:"\e60c"}.i-dollar:before{content:"\e659"}.i-group:before{content:"\e613"}.i-layim-download:before{content:"\e61e"}.i-picture-fine:before{content:"\e60d"}.i-link:before{content:"\e64c"}.i-diamond:before{content:"\e735"}.i-log:before{content:"\e60e"}.i-rate-solid:before{content:"\e67a"}.i-fonts-del:before{content:"\e64f"}.i-unlink:before{content:"\e64d"}.i-fonts-clear:before{content:"\e639"}.i-triangle-r:before{content:"\e623"}.i-circle:before{content:"\e63f"}.i-radio:before{content:"\e643"}.i-align-center:before{content:"\e647"}.i-align-right:before{content:"\e648"}.i-align-left:before{content:"\e649"}.i-loading-1:before{content:"\e63e"}.i-return:before{content:"\e65c"}.i-fonts-strong:before{content:"\e62b"}.i-upload:before{content:"\e67c"}.i-dialogue:before{content:"\e63a"}.i-video:before{content:"\e6ed"}.i-headset:before{content:"\e6fc"}.i-cellphone-fine:before{content:"\e63b"}.i-add-1:before{content:"\e654"}.i-face-smile-b:before{content:"\e650"}.i-fonts-html:before{content:"\e64b"}.i-form:before{content:"\e63c"}.i-cart:before{content:"\e657"}.i-camera-fill:before{content:"\e65d"}.i-tabs:before{content:"\e62a"}.i-fonts-code:before{content:"\e64e"}.i-fire:before{content:"\e756"}.i-set:before{content:"\e716"}.i-fonts-u:before{content:"\e646"}.i-triangle-d:before{content:"\e625"}.i-tips:before{content:"\e702"}.i-picture:before{content:"\e64a"}.i-more-vertical:before{content:"\e671"}.i-flag:before{content:"\e66c"}.i-loading:before{content:"\e63d"}.i-fonts:before{content:"\e644"}.i-refresh-1:before{content:"\e666"}.i-rmb:before{content:"\e65e"}.i-home:before{content:"\e68e"}.i-user:before{content:"\e770"}.i-notice:before{content:"\e667"}.i-login-weibo:before{content:"\e675"}.i-voice:before{content:"\e688"}.i-upload-drag:before{content:"\e681"}.i-login-qq:before{content:"\e676"}.i-snowflake:before{content:"\e6b1"}.i-file-b:before{content:"\e655"}.i-template:before{content:"\e663"}.i-auz:before{content:"\e672"}.i-console:before{content:"\e665"}.i-app:before{content:"\e653"}.i-prev:before{content:"\e65a"}.i-website:before{content:"\e7ae"}.i-next:before{content:"\e65b"}.i-component:before{content:"\e857"}.i-more:before{content:"\e65f"}.i-login-wechat:before{content:"\e677"}.i-shrink-right:before{content:"\e668"}.i-spread-left:before{content:"\e66b"}.i-camera:before{content:"\e660"}.i-note:before{content:"\e66e"}.i-refresh:before{content:"\e669"}.i-female:before{content:"\e661"}.i-male:before{content:"\e662"}.i-password:before{content:"\e673"}.i-senior:before{content:"\e674"}.i-theme:before{content:"\e66a"}.i-tread:before{content:"\e6c5"}.i-praise:before{content:"\e6c6"}.i-star-fill:before{content:"\e658"}.i-rate:before{content:"\e67b"}.i-template-1:before{content:"\e656"}.i-vercode:before{content:"\e679"}.i-cellphone:before{content:"\e678"}.i-screen-full:before{content:"\e622"}.i-screen-restore:before{content:"\e758"}.i-cols:before{content:"\e610"}.i-export:before{content:"\e67d"}.i-print:before{content:"\e66d"}.i-slider:before{content:"\e714"}/*iconEnd*/@font-face{font-family:icon;src:url(../fonts/iconfont/iconfont.eot?v=240);src:url(../fonts/iconfont/iconfont.eot?v=240#iefix) format('embedded-opentype'),url(../fonts/iconfont/iconfont.svg?v=240#iconfont) format('svg'),url(../fonts/iconfont/iconfont.woff?v=240) format('woff'),url(../fonts/iconfont/iconfont.ttf?v=240) format('truetype')}